h2 {
    text-align: center;
}

.card {
    background-color: #eeeeee;
    background-color: #eeeeee;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 10px;
    width: 400px;
    max-width: 100%;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
}

.button3-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button3 {
    background-color: #000000;
    font-family: 'Pretendard-Regular';
    color: white;
    border: none;
    border-radius: 60px;
    padding: 8px 12px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    text-decoration: none;
}

.button3:hover {
    background-color: rgb(126, 126, 126);
}

.button2[type="submit"] {
    background-color: #000000;
    font-family: 'Pretendard-Regular';
    color: white;
    border: none;
    border-radius: 60px;
    padding: 8px 12px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    text-decoration: none;
}

.button2:hover {
    background-color: #515151;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button[type="button"] {
    background-color: #000000;
    font-family: 'Pretendard-Regular';
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}